.card {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 5px 10px;
  width: 350px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 48px;
  color: #00b7b7;
  border: 3px solid slategray;
  border-radius: 10px;
  background-color: rgb(216, 216, 216);
}
.q {
  font-size: 60px;
}
input {
  margin: 10px 0px 5px;
  height: 28px;
  border-radius: 12px;
}
button {
  height: 40px;
  margin: 10px;
  border-radius: 11px;
  color: #00b7b7;
  background-color: #ffffff;
  border-width: 1px;
  font-size: 28px;
}
video {
  margin-bottom: 5px;
}
